@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap");

html {
	scroll-behavior: smooth;
}

.header-container {
	/* background-image: url("../../assets/img/dtla-blue.jpg"); */
	background-color: #f6f6f6;
	background-position: center;
	/* background: red; */
	background-size: cover;
	height: 100vh;
}

.image-skill {
	width: 5.5rem;
	margin: 1.25rem;
}

.project-text {
	margin-right: 20px;
}

footer {
	background: #000;
	height: 200px;
	color: #ffff;
}

.section-container {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/* .card {
	margin-right: 20px;
	margin-bottom: 20px;
} */

.pic {
	clip-path: polygon(
		50% 0%,
		83% 12%,
		100% 43%,
		94% 78%,
		68% 100%,
		32% 100%,
		6% 78%,
		0% 43%,
		17% 12%
	);

	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

	width: 14rem;
	height: auto;
}

.section-header {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.big {
	font-size: 3em;
	font-family: "Lato", sans-serif;
	font-weight: bolder;
}

/* .sticky {
	top: 20px;
	position: sticky;
} */

#about {
	/* padding-bottom: 4em 4em 0 4em; */
	background: #000;
	color: #ffffff;
}

.mail-link {
	line-height: 2;
	color: #3282b8;
}

.section-title {
	margin-bottom: 10px;
}
.header-title:after {
	display: block;
	height: 1px;
	background-color: #ff851b;
	content: "";
	width: 95px;
	margin: 6px auto 0;
}

.svg {
	overflow: hidden;
}

#skills {
	background: #f6f6f6;
}

#projects {
	background: #eeeeee;
}
